body, html {
    font-family: 'Amazon Ember';
}
.container {
    display: flex;
    flex-direction: column;
    /* align-content: flex-star; */
    /* justify-content: center; */
    border-style: solid;
    border-color: grey;
    align-content: space-between;
    
}
.img-container{
    display: flex;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.second-input-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

button{
    background-color:orange;
}
.button1{
    background-color:lightgray;
    margin-left: 15px;
    margin-right: 15px;
}
.button1{
    text-align: center;
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

/* .id{ 
    display: flex;
    align-items:

} */

.label{
    padding-left: 30px;
    color: grey;
}

#footer1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    
}

.content {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
}



.continue{
    display: flex;
    flex-shrink: 100;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.fgps{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 110px;
    padding-right: 15px;
}
#email-space{
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.email-boarders{
    margin-left: 15px;
    margin-right: 15px;
}
.label {
    display: flex;
    padding-bottom: 15px;
}

.move{
    display: flex;
    flex-direction: column;
}

.pos{
    display: flex;
    justify-content: center;
}

.password-boarders{
    margin-left: 15px;
    margin-right: 15px;
}
